<div *ngIf="!loading">
  <div *ngIf="products.length>0;else noProducts">
    <!--
     ngTemplateOutlet: gösterilecek template'in idsi verilir
     ngTemplateOutletContext: template'te kullanılacak propertyler parametre olarak gönderilir
-->
    <ng-template [ngTemplateOutlet]="productList1"></ng-template>

    <ng-template [ngTemplateOutlet]="productList2" [ngTemplateOutletContext]="{products:products}"></ng-template>
  </div>
</div>

<!------- EN ÇOK SATANLAR START ----------->
<ng-template #productList1>
  <h2>En çok satanlar</h2>
  <div class="row">
    <div *ngFor="let product of products" class="col-3">
      <div *ngIf="product.isActive" class="card mb-3">
        <img src="assets/images/{{product.imageUrl}}" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!------- EN ÇOK SATANLAR END ----------->


<!------- ÖNERİLEN START ----------->
<ng-template #productList2 let-products="products">
  <h2>Önerilen</h2>
  <div *ngFor="let product of products">
    <div *ngIf="product.isActive" class="card mb-3 p-1">
      <div class="row">
        <div class="col-3">
          <img src="assets/images/{{product.imageUrl}}" alt="" class="img-fluid rounded-start">
        </div>
        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <a routerLink="{{product.id}}" class="btn btn-primary">Ürün Detay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!------- ÖNERİLEN END ----------->

<ng-template #noProducts>
  <div class="alert alert-warning">
    no products
  </div>
</ng-template>

<div *ngIf="loading" class="spinner-border text-primary" role="status">
  <span class="visually-hidden"> Loading... </span>
</div>
